.container {
    width: 600px;
    margin: auto;
    font-family: Arial;
}
.section {
    margin-bottom: 20px;
}
.skill, .boss {
    margin: 5px 0;
}
.skill span.cooldown {
    color: gray;
    font-size: 0.9em;
}