<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Combat</title>
    <link rel="stylesheet" th:href="@{/combat.css}">
</head>
<body>
<script th:src="@{/combat.js}"></script>
<div class="container">
    <h2>Boss 战斗</h2>

    <div class="section">
        <h3>Boss 血量</h3>
        <div id="boss-status"></div>
    </div>

    <div class="section">
        <h3>玩家技能</h3>
        <div id="skill-status"></div>
    </div>

    <div class="section">
        <h3>技能序列</h3>
        <div id ="skill-sequence"></div>
    </div>

    <div class="section">
        <button id="start" onclick="startCombat()">开始战斗</button>
        <button id="next-turn" onclick="handleNextTurn()" hidden>下一回合</button>
        <button id="exit" onclick="exitCombat()" hidden>退出战斗</button>
    </div>
</div>
</body>
</html>
