<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maze</title>
    <link rel="stylesheet" th:href="@{/maze.css}">
</head>
<body>
    <script th:src="@{/maze.js}"></script>
    <div class="container">
        <div>
            score: <span th:text="${result.hero.score}" id='score'></span>
        </div>
        <table class="table">
            <tr th:each="row : ${result.maze.board}">
                <td th:each="block : ${row}" th:text="${block}">
                </td>
            </tr>
        </table>
        <button id="btn" onclick="handleNextStep()">next step</button>
    </div>
</body>
</html>